@{
  Layout = "_Layout";
}

@model BoardGame.Models.Game

<h2>Game Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre.Name)<h3>

<button>@Html.ActionLink("Edit Game", "Edit", new { id = Model.GameId })</button>
<button>@Html.ActionLink("Delete Game", "Delete", new { id = Model.GameId })</button>
<button>@Html.ActionLink("Back to list", "Index")</button>